.lct-filters button {
  background: none;
  border: none;
  font-size: 1.8rem;
  margin: 0 0 0.6em;
  position: relative;
  padding: 0;
}

.lct-filters button:before {
  content: '';
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: -.35em;
  height: .15em;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .6s cubic-bezier(1, 0, 0, 1);
}

.lct-filters button.lct-active:before,
.lct-filters button:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.lct-filter-block {
  padding: 4em 2% 4em;
}

.lct-gallery-image, .grid-sizer {
  width: 50%;
}

.lct-gallery-image {
  padding-right: .5em;
  padding-bottom: .5em;
}

.lct-gallery__description {
  padding: 0 1em;
}

.lct-gallery {
  min-height: 650px;
  transform: translateY(-4em);
}

.lct-gallery > .lct-inner {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: auto;
  height: 100%;
  width: 100%;
}

.lct-gallery .lct-gallery-track {
  overflow-y: auto;
}

@media only screen and (min-width: 1024px) {
  .lct-gallery-image, .grid-sizer {
    width: 20%;
  }  
}