.lct-hero__content {
  height: clamp(200px, 80vw, 700px);
  color: white;
}

.lct-hero__text-content {
  font-family: var(--lct-font-family);
  font-weight: 400;
  font-size: clamp(45px, 6vw, 80px);
}

.lct-hero__headline {
  font-size: 100%;
  font-weight: 500;
}

.lct-hero__subtext {
  font-size: max(20%, var(--lct-font-size-body));
}

.lct-hero__buttons {
  font-size: 0;
}

.lct-hero__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* .lct-hero__text-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  background: rgba(0,0,0,.85);
  width: max(40%, 20em)
} */

