.lct-hero {
  z-index: 10;
  position: relative;

  --lct-home-logo-color: #FFFFFF;
}

.lct-hero__content {
  height: clamp(200px, 80vw, 700px);
  color: white;
}

.lct-hero__logo {
  max-width: 270px;
  width: 100%;
  position: relative;
  z-index: 20;
}

.lct-hero__logo path, .lct-hero__logo polygon, .lct-hero__logo line, .lct-hero__logo circle {
  fill: var(--lct-home-logo-color);
}

.lct-hero__logo path, .lct-hero__logo polygon, .lct-hero__logo line, .lct-hero__logo circle, .lct-hero__logo rect {
  stroke: var(--lct-home-logo-color);
  transition: fill 1s ease;
}

body.home:not(.lct-home-intro-done) .lct-hero {
  --lct-home-logo-color: #222222;
}

.lct-hero__text-content {
  font-family: var(--lct-font-family);
  font-weight: 400;
  font-size: clamp(45px, 6vw, 80px);
}

.lct-hero__headline {
  font-size: 100%;
  font-weight: 500;
}

.lct-hero__subtext {
  font-size: max(20%, var(--lct-font-size-body));
}

.lct-hero__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lct-hero .wp-video, .mejs-container, video {
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}

.mejs-controls {
  opacity: 1 !important;
  background: transparent !important;
}

.mejs-controls > *:not(.mejs-volume-button) {
  opacity: 0;
}

.mejs-volume-button {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.lct-hero .wp-video video {
  -o-object-fit: cover;
     object-fit: cover;
}

#intro-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: white;
  transition: all 1s ease;
  visibility: visible;
}

body.home.lct-home-intro-done .lct-hero #intro-cover {
  background: transparent;
  pointer-events: none;
  visibility: hidden;
}

/* .lct-hero__text-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  background: rgba(0,0,0,.85);
  width: max(40%, 20em)
} */

