
@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/CenturyGothic-Bold.woff2') format('woff2'),
      url('./fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/CenturyGothic.woff2') format('woff2'),
      url('./fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
      url('./fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.woff2') format('woff2'),
      url('./fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.woff2') format('woff2'),
      url('./fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
      url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
      url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: calc(var(--lct-html-scale) * .8);
  scroll-behavior: smooth;
}

body {
  font-size:var(--lct-font-size-body);
  font-family: var(--lct-font-family);
  font-weight: 400;
  background: var(--lct-background-color);
  color: var(--lct-color-body);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, span, a, .lct-main-heading {
  line-height: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .lct-main-heading {
  color: var( --lct-color-heading);
  margin-bottom: .75em;
}

h1, h2, .lct-main-heading {
  font-size: calc(var(--lct-font-size-body) * 2.8);
}

h4 {
  font-size: calc(var(--lct-font-size-body) * 1.25);
}

figure {
  margin: 0;
}

p {
  line-height: 1.6;
}

.lct-section {
  padding: var(--lct-section-padding) 0;
}

/* HEADER */
a.navbar-brand {
  max-width: 190px;
}

a.navbar-brand svg {
  width: 100%;
  display: block;
}

body.home a.navbar-brand svg path,
body.home a.navbar-brand svg line,
body.home a.navbar-brand svg circle {
  fill: var(--lct-color-dark-text);
}

body.home a.navbar-brand svg path,
body.home a.navbar-brand svg line,
body.home a.navbar-brand svg circle,
body.home a.navbar-brand svg rect {
  stroke: var(--lct-color-dark-text);
}

#navbar {
  min-height: var(--lct-header-height);
}

#navbar a {
  color: var(--lct-color-body);
  padding: 0 1em;
}

body.home #navbar {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}

body.home #navbar a {
  color: var(--lct-color-dark-text);
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
  color: var(--lct-color-dark-text);
  border-color: var(--lct-color-dark-text);
}

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}

.intro-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: white;
}

section.lct-hero {
  z-index: 10;
  position: relative;
}

/* FOOTER */
footer {
  background-color: #000000 !important;
  font-size: 11px;
  font-weight: 500;
  font-family: var(--sf-roboto);
}

footer, footer a{
  color: #c5c5c5;
}

.mpire-m,
footer a.mpire-link:hover {
 color: #c51520;
}

.dev-copyright {
  color: #717171;
}

/* HOMEPAGE */
body.home .lct-section:not(.lct-callouts) {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.home .lct-callouts {
  padding: 3% 0;
}

.lct-gallery-section {
  min-height: 0 !important;
  padding-bottom: 0 !important;
}

/* Photoswipe */
.pswp__caption__center {
  max-width: 900px !important;
  padding: 2em 1em !important;
  text-align: center !important;
}

.calendly-spinner > div {
  background: var(--lct-color-dark-text) !important;
}
/* 
MODAL STYLES */
.modal, .modal-title {
  color: var(--lct-color-light-text);
}

.modal-body {
  font-size: 1.4rem;
}

#make-an-offer .modal-body  {
  max-width: 660px;
  margin: 0 auto;
}

#lct-watch-video__video {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
}

#lct-watch-video.modal .modal-content {
  background-color: var(--lct-background-color);
}

#lct-watch-video.modal .modal-content i {
  color: white;
  font-size: 3rem;
}

/* SCHEDULE A VISIT FORM */

#gform_wrapper_2 {
  --gf-form-gap-y: 27px;
  --gf-color-primary: var(--lct-color-accent);

  max-width: 720px;
  margin: 0 auto;
  background: white;
  color: var(--lct-color-light-text);
  padding: 2em;
  border-radius: 10px;
}

#gform_wrapper_2 .gform_footer {
  margin: 0;
}

#gform_wrapper_2 h2 {
  color: var(--lct-color-light-text);
}

#gform_wrapper_2 .ginput_container_date input {
  --gf-local-width: 100%;
}

@media (min-width: 600px) {
  html {
    font-size: calc(var(--lct-html-scale) * .9);
  }
}

@media (min-width: 768px) {
  html {
    font-size: var(--lct-html-scale);
  }

  #navbar a,
  .lct-filters button {
    position: relative;
  }

  #navbar a:before,
  .lct-filters button:before {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -.35em;
    height: .15em;
    background: var(--lct-color-accent);
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .6s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform .6s cubic-bezier(1, 0, 0, 1);
    -o-transition: transform .6s cubic-bezier(1, 0, 0, 1);
    transition: transform .6s cubic-bezier(1, 0, 0, 1);
    transition: transform .6s cubic-bezier(1, 0, 0, 1), -webkit-transform .6s cubic-bezier(1, 0, 0, 1);
  }

  #navbar a:hover:before,
  #navbar li.lct-active a:before,
  .lct-filters button.lct-active:before,
  .lct-filters button:hover:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}

@media (max-width: 768px) {
  
  #navbar > .container:has(.navbar-collapse.show) {
    background-color: rgba(255,255,255,.75);
  }
  
  #navbar > .container {
    background-color: transparent;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    padding: .75em .5em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg path,
  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg line,
  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg circle {
    fill: var(--lct-color-light-text);
  }

  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg path,
  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg line,
  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg circle,
  body.home #navbar > .container:has(.navbar-collapse.show) a.navbar-brand svg rect {
    stroke: var(--lct-color-light-text);
  }

  body.home #navbar a{
    color: black;
    font-size: 2rem;
    padding-bottom: 1em;
  }

  body.home .navbar-dark > .container:has(.navbar-collapse.show) .navbar-toggler {
    color: var(--lct-color-light-text) !important;
    border-color: var(--lct-color-light-text) !important;
  }
}
