.lct-side-by-side .lct-callout {
  min-height: 6em;
}

.lct-callout__icon {
  font-size: 2em;
  padding: 0 .25em;
}

.lct-callout__main-text {
  font-size: 90%;
  line-height: 1.5;
  color: var(--lct-color-heading);
}

.lct-side-by-side__image {
  aspect-ratio: 1 / 1;
}

.lct-callout-column {
  position: sticky;
  top: 2em;
  background: var(--lct-background-color);
}

.lct-callout-column > h4 {
  line-height: 2em;
  margin: 0;
}

.lct-swap {
  opacity: 0;
  left: 0;
  transition: opacity 5s ease;
}

.lct-swap.lct-active {
  opacity: 1;
}

@media (min-width: 769px) {
  body.home .lct-side-by-side__image {
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
  }
}